@use "@/styles/base/variables" as *;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-raleway), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-dark-blue-base;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

button,
input,
select,
textarea {
  font-family: var(--font-raleway), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
